{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock head_title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h4 class="mx-3 mt-3">{% trans "Set Password" %}</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form method="POST" action="{% url 'account_set_password' %}" class="password_set mx-3">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
