/* .nova-mono-regular {
  font-family: "Nova Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
*/

/* Copied from CI Walkthrough for now (only temporary) */
body {
    background-color: #e4e0dd;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.brand {
    font-family: 'Nova Mono', monospace;
    font-size: 2rem;
    color: #fafafa;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/*
.brand-addition {
    font-family: 'Nova Mono', monospace;
    font-size: 2rem;
    color: #fafafa;
}
*/

footer p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

iframe {
    width: 100%;
}

.bg-darkbrown {
    background-color: #201f14 !important;
}

.bg-brown {
    background-color: #5d513d;
}

.main-bg {
    background-color: #F9FAFC;
}

.hero-img {
    background-image: url('../images/seated.jpg');
    background-size: cover;
    min-height: 80vh;
    color: #fafafa;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img {
    background-image: url('../images/warrior_one.jpg');
    background-size: cover;
    height: 30vh;  /* Might need resizing in a media query for larger screens */
    color: #fafafa;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.error404-img {
    background-image: url('../images/meditation.jpg');
    background-size: cover;
    min-height: 100vh;
    color: #fafafa;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    font-weight: 500;
}

.hero-btn-text {
    font-weight: 800;
}

.color-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 20px;
}

p {
    margin-bottom: 0.2rem;
}

/* remove padding R and L?
.info-container {
    font-size: 0
}

#address, #opening-hours {
    font-size: 14px;
}
*/

h4 {
    font-weight: 600;
    padding: 10px 0;
}

.heading-schedule {
    padding: 20px 10px;
    text-align: center;
}

.default_user_img {
    color: #000;
    font-size: 50px;
}


/* from https://freefrontend.com/css-profile-cards/
https://bbbootstrap.com/snippets/bootstrap-5-myprofile-90806631

body {
    background: rgb(99, 39, 120)
}
*/

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.bookings-heading {
    font-weight: 600;
}


/* Media queries */
@media only screen and (min-width: 768px) {
    .banner-img {
        height: 45vh;
    }
}