/* General styles */
body {
    background-color: #f7f7f7;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

footer p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.brand {
    font-family: 'Nova Mono', monospace;
    font-size: 2rem;
    color: #f7f7f7;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.bg-brown {
    background-color: #5d513d;
}

.main-bg {
    background-color: #f7f7f7;
}

/* Images and background images */
.hero-img {
    background-image: url('../images/seated_phone.webp');
    background-size: cover;
    min-height: 70vh;
    color: #f7f7f7;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img {
    background-image: url('../images/warrior_one.webp');
    background-size: cover;
    height: 30vh;  /* Might need resizing in a media query for larger screens */
    color: #f7f7f7;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-img {
    background-image: url('../images/meditation_phone.jpg');
    background-size: cover;
    min-height: 100vh;
    color: #f7f7f7;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.groupclass-img > img {
    width: 100%;
}


/* Hero section */
.hero-text {
    font-weight: 500;
}

.hero-btn-text {
    font-weight: 800;
}

.color-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    margin: 20px;
}


/* Anchor elements */
a {
    color: #008000;
}

a:hover, a:focus, a:focus-visible {
    color: #5d513d;
}


/* Buttons and button-like elements */
.btn-dark:hover, .btn-dark:focus, .btn-dark:focus-visible {
    background-color: #5d513d;
}

.btn-light {
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.btn-light:hover, .btn-light:focus, .btn-light:focus-visible {
    border: 2px solid rgba(0, 0, 0, 0.6);
}


/* Headings */
h2, h3, h4 {
    font-weight: 600;
    padding: 10px 0;
}

.heading-schedule {
    padding: 20px 10px;
    text-align: center;
}

.default_user_img {
    color: #000;
    font-size: 50px;
}


/* Forms
Adapted from: https://bbbootstrap.com/snippets/bootstrap-5-myprofile-90806631
mentioned in this article: https://freefrontend.com/css-profile-cards/
*/
.form-control:focus {
    box-shadow: none;
    border-color: #5d513d;
}

.labels {
    font-size: 11px
}

/* Override default styling in forms */
.form-check-input:checked {
    background-color: #000;
    border-color: #000;
    box-shadow: 0 0 0 .25rem rgba(0, 0, 0, 0.2);
}

option:hover {
    background-color: #000;
}

.form-select {
    color: #000;
}

.form-select:focus {
    border-color: #000;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(0, 0, 0, 0.2);
}

.book-class:hover {
    background: #000;
    color: #f7f7f7;
    cursor: pointer;
    border: solid 1px #000;
}

.profile-heading {
    font-weight: 600;
}

#switch-toggle {
    margin-left: 0.75em;
}

#sign-waiver:checked {
    background-color: #5d513d;
}

.underline {
    text-decoration: underline;
}

.scroll {
    width: 100%;
    height: 65px;
    overflow: auto;
}


/* Triggers for opening modals */
#waiver, 
#bio-modal-trigger {
    text-decoration: underline;
    font-weight: bold;
    color: #008000;
}

#waiver:hover,
#waievr:focus,
#waiver:focus-visible,
#bio-modal-trigger:hover,
#bio-modal-trigger:focus,
#bio-modal-trigger:focus-visible {
    cursor: pointer;
    font-weight: bold;
    color: #5d513d;
}

/* Hiding class used for modals */
.hide {
    display: none !important;
}

/* Show element(s) - used for modals */
.show {
    display: block;
}

.modal {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Enable scroll if needed */
    overflow: auto;
    /* Fallback color */
    background-color: rgb(0, 0, 0);
    /* Black w/ opacity */
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal content */
.modal-content {
    background-color: #f7f7f7;
    margin: 15% auto;
    padding: 20px 20px 30px;
    border: 1px solid #000;
    width: 80%;
    font-size: 1rem;
    color: #000;
}

.modal-content img {
    filter: invert(7%) sepia(73%) saturate(5853%) hue-rotate(304deg) brightness(48%) contrast(126%);
    height: 2.5rem;
}

/* The Close button for the modals */
#close-waiver, #close-bio  {
    display: flex;
    justify-content: center;
    margin-top: 2.5em;
}

#close-waiver:hover,
#close-waievr:focus,
#close-waiver:focus-visible,
#close-bio:hover,
#close-bio:focus,
#close-bio:focus-visible {
    text-decoration: none;
    cursor: pointer;
}

/* Django messages - copied from https://www.brntn.me/blog/how-i-use-djangos-messages-framework/ */
.messages {
    list-style: none;
    margin: 0;
    padding: 0;
}

.messages li {
    padding: 1em;
    width: 100%;
    line-height: 2.0em;
}

.messages li.info, .messages li.debug {
    background-color: #d0ebff;
}

.messages li.success {
    background-color: #b2f2bb;
}

.message li.warning {
    background-color: #ffec99;
}

.messages li.error {
    background-color: #ffe3e3;
}


/* Media queries */
@media only screen and (min-width: 500px) {
    .banner-img {
        background-image: url('../images/warrior_one_cropped.webp');
        height: 45vh;
    }
}

@media only screen and (min-width: 768px) {
    .hero-img {
        background-image: url('../images/seated_cropped.webp');
        min-height: 60vh;
    }

    .scroll {
        height: 85px;
    }

    .error-img {
        background-image: url('../images/meditation.jpg');
    }
}

@media only screen and (min-width: 1024px) {
    .card-title {
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 1440px) {
    .card-title {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 1920px) {
    .wrapper {
        padding-left: 15vw;
        padding-right: 15vw;
    }

    .hero-img {
        background-image: url('../images/seated_4k_cropped.jpg');
        min-height: 75vh;
    }

    .banner-img {
        background-image: url('../images/reach_4k_cropped.jpg');
    }

    .error-img {
        background-image: url('../images/meditation_4k.jpg');        
    }
}
