{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load cloudinary %}

{% block content %}

<!-- User profile template: https://bbbootstrap.com/snippets/bootstrap-5-myprofile-90806631# -->
<div class="container my-5">
    <div class="row">
        <div class="col-md-6 col-lg-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 pb-5">
                <div class="mb-5">
                    {% if 'placeholder' in current_user.profile_pic.url %}
                    <img src="{% static 'images/default_profile_pic.webp' %}" class="rounded-circle mt-5" width="150" alt="placeholder">
                    {% else %}
                    <img src="{{ current_user.profile_pic.url }}" class="rounded-circle mt-5" width="150" alt="{{ current_user.user }}'s profile picture">
                    {% endif %}
                </div>
                <span class="fw-bold">{{ name }}</span>
                <span>{{ email }}</span>
            </div>
        </div>

        <div class="col-md-6 col-lg-8 px-4 pt-md-5 mt-md-5 ps-lg-5">
            <div>
                <h6 class="profile-heading">Date of birth</h6>
                {% if current_user.date_of_birth %}
                <p>{{ current_user.date_of_birth }}</p>
                {% else %}
                <p>{{ default_text }}</p>
                {% endif %}
            </div>
            <div>
                <h6 class="profile-heading">Recent or chronic injuries</h6>
                {% if current_user.injuries %}
                <p class="scroll mt-3 pe-lg-5">{{ current_user.injuries }}</p>
                {% else %}
                <p>{{ default_text }}</p>
                {% endif %}
            </div>
            <div class="mt-5 mt-md-0 text-center text-md-start">
                <a data-mdb-ripple-init class="btn btn-dark mb-5" href="{% url 'edit_profile' user.id %}" role="button">Edit profile</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}