{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<!-- User profile template: https://bbbootstrap.com/snippets/bootstrap-5-myprofile-90806631# -->
<div class="container my-5">

    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="px-3 pt-3 px-md-4 py-md-4 col-lg-6">
            <form id="profile-form" method="POST" action="{% url 'edit_profile' user.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ profile_form | crispy }}
                <div class="my-5 text-center">
                    <button class="btn btn-dark mx-2" type="submit">Save profile</button>
                    <a href="{% url 'profile' user.id %}" class="btn btn-light mx-2">Discard changes</a>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>

    {% else %}
    <div>
        <p>If you would like to edit your profile, please log in.</p>
    </div>
    {% endif %}
</div>

{% endblock %}