{% extends "base.html" %}

{% block content %}

<!-- Background image + text -->
<div class="text-center bg-image error-img">
    <div class="p-5 color-overlay">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3 hero-text">Oh oh, looks like you got lost...</h1>
                <h4 class="mb-2 hero-text">We've got your back though.</h4>
                <h4 class="mb-2 hero-text">Take a deep breath in... Exhale...</h4>
                <h4 class="mb-3 hero-text">And click the button below to get back to the homepage</h4>
                <a data-mdb-ripple-init class="btn btn-outline-light btn-lg hero-btn-text" href="{% url 'home' %}" role="button">Home</a>
            </div>
        </div>
    </div>
</div>

<!-- 404.html content ends here -->
{% endblock %}