{% url 'home' as home_url %}
{% url 'class_schedule' as schedule_url %}
{% url 'schedule_detail' as schedule_detail_url %}
{% url 'book_class' as book_class_url %}
{% url 'profile' as profile_url %}
{% url 'edit_profile' as edit_profile_url %}
{% url 'my_bookings' as personal_bookings_url %}
{% url 'error404' as error404_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

{% load static %}
{% load cloudinary %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>Namaste Yoga Studio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

    <!-- Font Awesome CSS 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    -->

    <!-- Favicon from https://favicon.io/favicon-generator/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Htmx link -->
    <script src="{% static 'js/htmx.min.js' %}" defer></script>

    <!-- django-htmx debug code -->
    {% load django_htmx %}
    {% django_htmx_script %}

</head>

<body class="d-flex flex-column justify-content-between h-100 main-bg">

    <!-- Navigation 
     Helpful documentation: CI Walkthrough projects, https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-brown">
        <div class="container-fluid">
            
            <!-- Brand -->
            <a class="navbar-brand brand" href="{% url 'home' %}">Namaste</a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page"
                            href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == schedule_url %}active{% endif %}" aria-current="page"
                            href="{% url 'class_schedule' %}">Schedule</a>
                    </li>

                    <!-- Invisible. For-loop to create url patterns for each specific user -->
                    {% for profile in profile_list %}
                    <a class="d-none" href="{% url 'profile' user.id %}"></a>
                    <a class="d-none" href="{% url 'my_bookings' user.id %}"></a>
                    {% endfor %}
                    <!-- Invisible. For-loop to create url patterns for each specific yoga class -->
                    {% for groupclass in groupclass_list %}
                    <a class="d-none" href="{% url 'schedule_detail' groupclass.id %}"></a>
                    <a class="d-none" href="{% url 'book_class' groupclass.id %}"></a>
                    {% endfor %}


                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == profile_url %}active{% endif %}" aria-current="page"
                            href="{% url 'profile' user.id %}">My profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == profile_url %}active{% endif %}" aria-current="page"
                            href="{% url 'my_bookings' user.id %}">My bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
                            href="{% url 'account_logout' %}">Log out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                            href="{% url 'account_signup' %}">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
                            href="{% url 'account_login' %}">Log in</a>
                    </li>
                    {% endif %}

                </ul>
                <!-- 
                <span class="navbar-text text-muted">
                    welcome to the home of well-being (base.html template)
                </span> -->
            </div>
        </div>
    </nav>

    <!-- Next 7 lines copied from https://www.brntn.me/blog/how-i-use-djangos-messages-framework/ -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <main class="flex-shrink-0 main-bg">

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

    </main>

    <!-- Footer adapted from https://mdbootstrap.com/docs/standard/extended/social-media-icons-footer/ -->
    <footer class="text-center text-white">
        <!-- Grid container -->
        <div class="container pt-4">
          <!-- Section: Social media -->
          <section class="mb-2">
            <!-- Facebook -->
            <a
              data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://www.facebook.com"
              target="_blank"
              rel="noopener"
              aria-label="Visit our Facebook page (opens in a new tab)"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fa-brands fa-facebook-f"></i
            ></a>
      
            <!-- Instagram -->
            <a
              data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://www.instagram.com"
              target="_blank"
              rel="noopener"
              aria-label="Visit our Instagram page (opens in a new tab)"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fa-brands fa-instagram"></i
            ></a>
      
            <!-- YouTube -->
            <a
              data-mdb-ripple-init class="btn btn-link btn-floating btn-lg text-dark m-1"
              href="https://www.youtube.com"
              target="_blank"
              rel="noopener"
              aria-label="Visit our YouTube channel (opens in a new tab)"
              role="button"
              data-mdb-ripple-color="dark"
              ><i class="fa-brands fa-youtube"></i
            ></a>
          </section>
        </div>
      
        <!-- Copyright -->
        <div class="text-center text-light p-3 bg-brown">
          © 2024 Copyright: Namaste Yoga Studio
        </div>

    </footer>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/0f4911cc18.js" crossorigin="anonymous"></script>
    <!-- Ajax for the profile template -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>

</body>

</html>