{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load render_partial %}


{% block content %}

<!-- User profile template: https://bbbootstrap.com/snippets/bootstrap-5-myprofile-90806631# -->
<div class="container rounded bg-white mt-5 mb-5">

    {% if user.is_authenticated %}
    <div class="">

        <div class="">
            <h4>{{ chosen_class.title }}</h4>
            <p class="fw-bold mb-5">{{ chosen_class.weekday }} | {{ chosen_class.start_time }} | {{ chosen_class.duration }}</p>
            
            <form id="booking-form" class="row" method="POST" action="{% url 'book_class' chosen_class.id %}">
                <div class="col-lg-5">
                    {% csrf_token %}
                    {{ user_form | crispy }}
                </div>
                <!-- 
                <div class="my-5 text-center">
                    <button class="btn btn-dark mx-2" type="submit">Save details</button>
                </div>
                -->
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    {% render_partial 'schedule.views.create_dates' %}

                    {% csrf_token %}
                    {{ booking_form | crispy }}
                    <p id="waiver" tabindex="0" aria-label="Show the waiver">Read the waiver here</p>
                </div>
                <p>* Required field</p>
                <div class="col-lg-1"></div>

                <div class="my-5 text-center">
                    <button class="btn btn-dark mx-2" type="submit">Confirm booking</button>
                </div>
            </form>
        </div>
    </div>

    <!-- The waiver modal -->
    <div id="modal-waiver" class="modal hide" tabindex="0">

        <!-- Modal content -->
        <div class="modal-content">
            <div>
                <h4>Liability Waiver</h4>
                <p>In checking the box above I acknowledge the existence of certain inherent risks 
                    in yoga training, and hearby agree to assume all said risks.</p>
                <p>I explicitly relieve and hold Namaste Yoga Studio, its owners, its management, 
                    its instructors, its tenants, its therapist, and other students harmless 
                    from any liability resulting from personal injury to me and/or loss of 
                    my personal property, whether caused by negligence or otherwise.</p>
                <p>By ticking the box I represent that I am physically sound and that I have medical 
                    approval, if specific medical problems require such approval, to proceed with this 
                    type of training, and I agree to promptly notify Namaste Yoga Studio in writing 
                    of any medical condition, element, or symptoms that may develop or manifest itself 
                    after this date, and may affect my fitness to engage in such training.</p>
                <p>I am familiar with the contents of this release and I have read and understood it.</p>
                <span id="close-waiver" tabindex="0">
                    <img src="{% static 'images/close-circle-svgrepo.svg' %}" alt="Click here to close">
                </span>
            </div>
        </div>
    </div>

    {% else %}
    <div>
        <p>If you would like to book the class, please <a class="link" href="{{ login_url }}"></a>log in.</a></p>
    </div>
    {% endif %}
</div>

<!-- JavaScript -->
<script src="{% static 'js/waiver.js' %}" defer></script>

{% endblock %}