{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h4>{{ chosen_booking.chosen_class.title }} | {{ chosen_booking.class_datetime }}</h4>
            <p>Are you sure you want to cancel your booking?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form method="post" name="cancellation_form">
                {% csrf_token %}
                <button class="btn btn-dark mt-3 me-5" type="submit">Yes, cancel my booking</button>
                <a href="{% url 'my_bookings' user.id %}" class="btn btn-light mt-3">No, I changed my mind</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
