{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h4>Cancel booking {{ chosen_booking }}</h4>

            <p>Are you sure you want to cancel your booking?</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

            <form method="post" action="">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-dark mt-3" type="submit">Yes, cancel my booking</button>
                <a href="{% url 'my_bookings' user.id %}" class="btn btn-light mx-2">No, I changed my mind</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
