{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load render_partial %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h4>Choose a different date for your {{ chosen_booking.chosen_class.title }} class</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

            <form method="post" name="booking_update_form">
                {% csrf_token %}
                {% render_partial 'schedule.views.create_dates' id=chosen_booking.chosen_class.id %}

                <button class="btn btn-dark mt-3 me-5" type="submit">Save changes</button>
                <a href="{% url 'my_bookings' user.id %}" class="btn btn-light border mt-3">Discard changes</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}