{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<!-- User profile template: https://bbbootstrap.com/snippets/bootstrap-5-myprofile-90806631# -->
<div class="container rounded bg-white mt-5 mb-5">
    <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center">
            <span class="profile-heading">My bookings</span>
            <span class="border px-1 ph4 -1 book-class profile-heading">
                <a class="btn" href="{% url 'class_schedule' %}">
                    <i class="fa fa-plus"></i>&nbsp;Book a class
                </a>
            </span>
        </div>
        <br>               
    </div>
    <div class="p-3 py-5">
        <p>{{ name }}</p>
        <p>{{ email }}</p>
        <ul>
        {% for class in booked_classes %}
            <li>{{ class.id }} | {{ class.chosen_class.title }} | {{ class.class_date }}</li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}