{% extends "base.html" %}

{% block content %}

<!-- Image -->
<div class="text-center bg-image banner-img h-30"></div>

<!-- Text - heading -->
<div class="heading-schedule">
    <h4>Find the perfect class for you!</h4>
</div>

<!-- Schedule - calendar for the week, scrollable list, pagination 
<div>
    <iframe id="calendar"
        src="https://calendar.google.com/calendar/embed?src=c21271fad577146fffa17d40b25206522ac61954e180ac913ac694d2f6e9ac6d%40group.calendar.google.com&ctz=Europe%2FDublin"
        frameborder="0" scrolling="no"></iframe>
</div>
-->

<!-- schedule.html content ends here -->
{% endblock %}
