{% extends "schedule/schedule.html" %}

{% block content %}

{{ block.super }}
<div class="wrapper">
    <div class="container-fluid col-12 px-lg-5">
        {% regroup groupclass_list by weekday as grouped_groupclasses %}

        {% for weekday, groupclass_list in grouped_groupclasses %}
        <h3 class="pt-3 px-md-2 px-lg-4"><i class="fa-solid fa-calendar-days px-2"></i>{{ weekday }}</h3>
        <div class="row px-md-2 px-lg-4">
            {% for groupclass in groupclass_list %}
            <div class="col-md-6 col-lg-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <a href="{% url 'schedule_detail' groupclass.id %}">
                            <h4 class="card-title">{{ groupclass.title }}</h4>
                        </a>
                        <hr>
                        <p class="text-muted">Teacher: {{ groupclass.teacher }}</p>
                        <p class="card-text h6">{{ groupclass.weekday }} | {{ groupclass.start_time}} | {{ groupclass.duration_mins }} minutes</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}